/* 
CS Brand Colors:
  Dark pink: #a50a51
  Dark blue: #0494cb
  Light blue: #12b5ea
  Dark green: #558920
  Light green: #86af15
  Orange: #ff6f0c
  Gray: #636467
*/

body {
  font-family: "Raleway";
  margin: 0;
  background-color: #0494cb;
}

h1, h2 {
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.reporting-date, .facility-title {
  font-weight: 900;
}

hr {
  margin: 10% 0%;
}

#content {
  margin: 3% 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5%;
}

#header-wrapper {
  position: sticky;
  top: 20px;
  color: white;
}

#title {
  color: white;
}

#subtitle {
  color: #b5ecff;
}

#form {
  background-color: white;
  padding: 2% 10%;
}

.form-block {
  margin: 5% 0%;
}

.input {
  margin: 1% 0% 0% 0%;
  padding: 5px;
  font-family: "Raleway";
  width: 95%;
  font-size: 18px;
}

.question {
  font-size: 18px;
  margin: 0% 0% 1% 0%;
  font-weight: 600;
}

.helptext {
  font-size: 14px;
  margin: 0%;
  color: grey;
}



/* SUBMIT BUTTON */

button {
  width: 60%;
  margin: 5%;
  padding: 10px;
  color: white;
  background-color: #0494cb;
  border: 2px solid white;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 900;
}

button:hover {
  background-color: #12b5ea;
  cursor: pointer;
}

#button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-text {
  text-align: left;
  padding: 15px;
  font-size: 12px;
}