/* Set form colors */
:root {
  --main-color: #006ba6;
  --button-hover-color: #0d1c3d;
  --secondary-color: white;
  --alert-color: red;
  --text-color: black;
  --text-color-helptext: grey;
  --hr-color: rgb(221, 221, 221);
}

body {
  font-family: "Raleway";
  margin: 0;
  background-color: var(--main-color);
}


h1, h2 {
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.title {
  color: var(--secondary-color);
}

.narrative-text {
  color: var(--secondary-color);
}

#content {
  margin: 0% 3%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 5%;
}

.custom-text {
  color: var(--secondary-color);
}

.reported-values {
  font-weight: 900;
  color: var(--main-color);
}

hr {
  margin: 8% 0%;
  height:2px;
  border-width:0;
  background-color: var(--hr-color);
}

#header-wrapper {
  position: sticky;
  top: 20px;
}

#form {
  background-color: var(--secondary-color);
  padding: 2% 7%;
}

.form-block {
  margin: 5% 0%;
}

.input {
  margin: 1% 0% 0% 0%;
  padding: 5px;
  font-family: "Raleway";
  width: 100%;
  font-size: 18px;
}

.question {
  font-size: 18px;
  margin: 0% 0% 1% 0%;
  font-weight: 600;
}

.required-symbol {
  color: var(--alert-color);
}

.helptext {
  font-size: 14px;
  margin: 0%;
  color: var(--text-color-helptext);
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}



/* SUBMIT BUTTON */

button {
  width: 60%;
  margin: 5%;
  padding: 10px;
  color: var(--secondary-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 900;
}

button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

#button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-check {
  font-size: 30px;
  margin: 5%;
}

.success-message {
  font-size: 18px;
  margin: 5%;
  text-align: center;
}

.submit-again-container {
  margin: 5%;
  padding: 10px;
}

.submit-again {
  color: var(--secondary-color);
  font-weight: 900;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 15px;
}

.submit-again:hover {
  background-color: var(--button-hover-color);
}


/* MEDIA BREAKPOINT */

@media (max-width: 800px) {

  #content {
    margin: 3% 5%;
    display: grid;
    grid-template-columns: 1fr;
  }

  #header-wrapper {
    position: static;
    color: var(--secondary-color);
    margin: 2% 5% 10% 5%;
  }

  hr {
    margin: 15% 0%;
    height:2px;
    border-width:0;
    background-color: var(--hr-color);
  }

  .form-block {
    margin: 10% 0%;
  }

 }