/* 
CS Brand Colors:
  Dark pink: #a50a51
  Dark blue: #0494cb
  Light blue: #12b5ea
  Dark green: #558920
  Light green: #86af15
  Orange: #ff6f0c
  Gray: #636467
*/

body {
  font-family: "Raleway";
  margin: 0;
  background-color: #0494cb;
}

h1, h2 {
  font-weight: 900;
  margin: 0;
  padding: 0;
}

#title {
  color: white;
}

#subtitle {
  color: #b5ecff;
}

#content {
  margin: 0% 3%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 5%;
}

.reported-values {
  font-weight: 900;
  color: #0494cb;
}

hr {
  margin: 8% 0%;
  height:2px;
  border-width:0;
  background-color:rgb(221, 221, 221);
}

#header-wrapper {
  position: sticky;
  top: 20px;
  color: white;
}

#form {
  background-color: white;
  padding: 2% 7%;
}

.form-block {
  margin: 5% 0%;
}

.input {
  margin: 1% 0% 0% 0%;
  padding: 5px;
  font-family: "Raleway";
  width: 100%;
  font-size: 18px;
}

.question {
  font-size: 18px;
  margin: 0% 0% 1% 0%;
  font-weight: 600;
}

.required-symbol {
  color: red;
}

.helptext {
  font-size: 14px;
  margin: 0%;
  color: grey;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.checkmark {
  font-size: 20px;
  margin: 0%;
}

.success-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 0px 5px 0px;
}




/* SUBMIT BUTTON */

button {
  width: 60%;
  margin: 5%;
  padding: 10px;
  color: white;
  background-color: #0494cb;
  border: 2px solid white;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 900;
}

button:hover {
  background-color: #12b5ea;
  cursor: pointer;
}

#button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* MEDIA BREAKPOINT */

@media (max-width: 800px) {

  #content {
    margin: 3% 5%;
    display: grid;
    grid-template-columns: 1fr;
  }

  #header-wrapper {
    position: static;
    color: white;
    margin: 2% 5% 10% 5%;
  }

  hr {
    margin: 15% 0%;
    height:2px;
    border-width:0;
    background-color:rgb(221, 221, 221);
  }

  .form-block {
    margin: 10% 0%;
  }

 }